<div id="loadingOverlay" class="loading-overlay">
    <div class="loading-content">
        <div class="spinner"></div>
        <div class="loading-text">Uploading Files...</div>
        <div class="progress-container">
            <div id="progressBar" class="progress-bar"></div>
        </div>
        <div class="progress-percent" id="progressPercent">0%</div>
        <div class="loading-subtext">Please do not close or refresh this page</div>
    </div>
</div>
