<div class="navigation-bar">
    <form method="post">
        <button type="submit" name="actionType" value="Catalogue" class="nav-button">Catalogue</button>
        <button type="submit" name="actionType" value="Upload" class="nav-button">Upload</button>
    </form>
</div>