<h2>Upload Videos</h2>

<form id="uploadForm" enctype="multipart/form-data">
    <input type="file" name="files" multiple accept=".mp4" />
    <button type="submit">Upload Files</button>
</form>

<div id="message"></div>
